<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Elves Library</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<center>
<h1 th:text="'Known Information About ' + ${name}"/>

<ul th:each="definition : ${definitions}">
    <span th:text="${definition.value}"/>
</ul>

<div th:if="${definitions==null or definitions.empty}">
    <span th:text="'Unfortunately we do not have any information about ' + ${name}"/>
</div>
</center>
</body>
</html>
