<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Elves Library</title>
</head>
<body>
<center>
  <h1>
    Select the definition of Elves
  </h1>
  <form method="get" action="select">
    <br>
    <div class="form-group blu-margin">
      <select name="name" class="form-control" id="dropOperator">
        <option th:each="elf : ${elves}" th:value="${elf}" th:text="${elf}"></option>
      </select>
    </div>
    <br>
    <input type="submit" value="Check">
  </form>
</center>


</body>
</html>